
// Site variables
$font_primary: Helvetica, Arial, sans-serif;
$h1: 55px;
$h1-lg: 43px;
$h1-md: 33px;
$h2: 31px;
$h2-md: 23px;
$h3: 23px;
$h3-md: 20px;
$h4: 20px;
$h5: 17px;
$h6: 16px;
$white: #ffffff;
$black: #000000;
$dark: #152035;
$gray: #313030;
$light: #FAFAFA;
$color_primary: #01AD9F;